$primary: #FFBEED;
$secondary: #89CFF0;
$highlight: #FB7878;
$splash: #FFCA0D;
$light-outer-shadow: 1px 2px 4px lightgrey;
$dark-outer-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


@mixin line {
    background-color: $primary;
    content: "";
    height: 4px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.container-fluid{
    max-width: 90%;
}

.text-highlight{
    color: $highlight;
}

.loading-frame {
    position: absolute;
    top: 35%;
    left: 50%;
  }

.circle {
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background-color: $primary;
    animation: animate linear 2s infinite;
}
.circle:nth-child(1) {
    animation-delay: 0.9s;
}
.circle:nth-child(2) {
    animation-delay: 1.1s;
    transform: translate(18px, 13px);
}
.circle:nth-child(3) {
    animation-delay: 1.3s;
    transform: translate(35px, 25px);
}
.circle:nth-child(4) {
    animation-delay: 1.1s;
    transform: translate(18px, 38px);
}
.circle:nth-child(5) {
    animation-delay: 0.9s;
    transform: translate(0px, 50px);
}
.circle:nth-child(6) {
    animation-delay: 0.9s;
    transform: translate(0, 25px);
}
.circle:nth-child(7) {
    animation-delay: 0.7s;
    transform: translate(-20px, 25px);
}
.circle:nth-child(8) {
    animation-delay: 0.5s;
    transform: translate(-40px, 25px);
}
.circle:nth-child(9) {
    animation-delay: 0.3s;
    transform: translate(-60px, 25px);
}
.circle:nth-child(10) {
    animation-delay: 0.1s;
    transform: translate(-80px, 25px);
}
@keyframes animate {
    0%,
    100% {
      background-color: $primary;
    }
    50% {
      background-color: #fff;
    }
}
  

.text-h1 {
    font-size: 4rem;
    color: white;
}

.frame1 {
    width: 100%;
    float: right;
}

input, textarea{
    outline: none;
}

input[name=signUp] {
    width: 64%;
    padding: 0.8rem 1.3rem;
    margin: 10px 0px;
    background: $splash;
    box-shadow: $dark-outer-shadow;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
}

.sign-up {
    transition: all 0.5s ease;
    color: black;
    padding: 0.8rem 1rem;
    margin-left: 0.9rem;
    background: $splash;
    user-select: none;
    box-shadow: $dark-outer-shadow;
    border-radius: 0.7rem;
    border: 1px solid #ccc;
}

.sign-up:hover {
    box-shadow: 0 0 0 2px $splash;
    transition: all 0.5s ease;
    cursor: pointer;
    background: $secondary;
}

.frame2 {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

.how-it-works {
    text-align: center;
    width: 100%;
}

.text-p {
    float: right;
    color: white;
    font-size: 1.6rem;
}

.how-it-works-card{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    box-shadow: $dark-outer-shadow;
    height: 100%;
}

.how-it-works-card:hover{
    cursor: pointer;
}

hr {
    margin: auto;
    display: block;
    @include line()
}

.frame4-move {
    position: absolute;
    top: 0;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move2 {
    position: absolute;
    bottom: 10;
    left: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.frame4-move3 {
    position: absolute;
    top: 100;
    right: 0;
    fill: $primary;
    width: 5vmax;
    z-index: -1;
    animation: move2 10s ease-in-out infinite;
    transform-origin: 50% 50%;
}

.about-us {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

.our-story {
    font-size: 2rem;
    overflow: hidden;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
  
.our-story:before,
.our-story:after {
    display: inline-block;
    @include line()
}
  
.our-story:before {
    right: 0.5em;
    margin-left: -50%;
}
  
.our-story:after {
    left: 0.5em;
    margin-right: -50%;
}

.frame5 {
    width: 50%;
}

.questions {
    margin-top: 5rem;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
}

.frame6 {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

@mixin input-style{
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 10px;
    display: inblock;
    margin-left: auto;
    margin-right: auto;
    background: #FFCA0D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

input[name=name], [name=email]{
    @include input-style();
}

textarea[name=question]{
    @include input-style();
    height: 15rem;
}


.send-message {
    transition: all 0.5s ease;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding: 1rem 2rem;
    background: #FB7878;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border: 1px solid #FB7878;
}

.send-message:hover {
    box-shadow: 0 0 0 2px $highlight;
    transition: all 0.5s ease;
    background: $secondary;
}

//
//-> Animations
//

@keyframes move {
    0%   { transform: scale(1)   translate(5px, -10px); }
    38%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, 20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(5px, -10px); }
}

@keyframes move2 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}

@keyframes move3 {
    0%   { transform: scale(1)   translate(-5px, 20px); }
    38%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    40%  { transform: scale(0.8, 1) translate(-20vw, 10vh) rotate(160deg); }
    78%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    80%  { transform: scale(1.3) translate(0vw, -20vh) rotate(-20deg); }
    100% { transform: scale(1)   translate(-5px, 20px); }
}

@media screen and (max-width: 991px){
    .loading-frame{
        display: none;
    }
}